<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workforce Management System</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/local.css" />
    <LINK rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.min.css">

    <script type="text/javascript" src="/stylesheets/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/stylesheets/bootstrap/js/bootstrap.min.js"></script>   
    
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>  
</head>
<body ng-app="" ng-controller="clientController">

    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Back to Admin</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li><a href="./"><i class="fa fa-bullseye"></i> Dashboard</a></li>
                    <li  class="active"><a href="./searchClients"><i class="fa fa-tasks"></i> Clients</a></li>
                    <li><a href="./searchGuards"><i class="fa fa-tasks"></i> Guards</a></li>
                    
                    <li><a href="./searchReports"><i class="fa fa-table"></i> Reports</a></li>
                    <li><a href="./searchAlerts"><i class="fa fa-bell"></i> Alerts</a></li>
                    <li><a href="./displaySchedule? Not sure"><i class="fa fa-list-ol"></i> Schedule</a></li>
                    <li><a href="./searchBuildings"><i class="fa fa-globe"></i> Buildings</a></li>                    
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-user">                    
                    <li><a href="./logout"><i class="fa fa-power-off"></i> Log Out</a></li>                       
                </ul>
            </div>
        </nav>
        
	      <div id="clientEdit"> 			
  			<div class="row text-center">
  					<h2>Guard CheckIn</h2>
  					
			</div>	
			<form role="form">
				<div>
					<!--div class="col-md-3">
					</div-->
					<!--div class="col-md-2"-->
            			<label for="building" class="col-md-2">
                			Bulding:
            			</label>
            		</div>
            		<div class="col-md-9">
                		<select id="bulding" class="form-control">
                    		<option>--Please Select One--</option>
                    		<option>Building1</option>
                    		<option>Building2</option>
                    		<option>Building3</option>
                    		<option>Building4</option>
                    		<option>Building5</option>
                		</select>
            		</div>
            		<!--div class="col-md-4"> 
            		</div-->            
        		</div>	
        		<div>
					<!--div class="col-md-3">
					</div>
					<div class="col-md-2"-->
            		<label for="checkpoints" class="col-md-2">
                		CheckPoint:
            		</label>
            		<!--/div-->
            		<div class="col-md-9">
                		<select id="checkpoint" class="form-control">
                    		<option>--Please Select One--</option>
                    		<option>CheckPoint1</option>
                    		<option>CheckPoint2</option>
                    		<option>CheckPoint3</option>
                    		<option>CheckPoint4</option>
                    		<option>CheckPoint5</option>
                		</select>
            		</div>   
            	</div>
            	<div>
            		<div class="form-group">
                		<label for="description" class="col-md-2">Description</label>
                		<div class="col-md-10">
                			<input type="text" id="description" class="form-control input-lg">
                		</div>
            		</div>
        		</div>
        		<div class="row text-center">
            		
            		<button type="submit" class="btn btn-info">
			                    Submit CheckIn
			                </button>
        		</div>
            </form>
        	</div>	
        </div>
  		</div>
      	
  	  
</body>



</html>
