<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workforce Management System</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/local.css" />

    <script type="text/javascript" src="/stylesheets/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/stylesheets/bootstrap/js/bootstrap.min.js"></script>   
    
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>     
</head>
<body ng-app="myApp" ng-controller="createReportController" >

    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Back to Admin</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li><a href="./"><i class="fa fa-bullseye"></i> Dashboard</a></li>
                    <li><a href="./searchClients"><i class="fa fa-tasks"></i> Clients</a></li>
                    <li><a href="./displayGuard"><i class="fa fa-tasks"></i> Guards</a></li>
                    <li  class="active"><a href="./createReport"><i class="fa fa-table"></i> Reports</a></li>
                    <li><a href="./searchAlerts"><i class="fa fa-bell"></i> Alerts</a></li>
                    <li><a href="./displaySchedule? Not sure"><i class="fa fa-list-ol"></i> Schedule</a></li>
                    <li><a href="./searchBuildings"><i class="fa fa-globe"></i> Buildings</a></li>                    
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-user">                    
                    <li><a href="./logout"><i class="fa fa-power-off"></i> Log Out</a></li>                       
                </ul>
            </div>
        </nav>
        <div class="col-md-10 container">
<div>
        <div class="row text-center">
            <h2>Create Reports</h2>
        </div>
 <div>
            <label for="Building" class="col-md-2">
                Buildings:
            </label>
            <div class="col-md-6">
                <select name="building" id="building" class="form-control" ng-model="selectedbuilding" ng-options="building.name for building in buildings" >
                    
                </select>
            </div>            
        </div>
    <div>
    </br></br>
            <label for="violation" class="col-md-2">
                violation:
            </label>
            <div class="col-md-6">
                <select name="violation" id="violation" class="form-control" ng-model="selectedviolation" ng-change="selectionChanged()" ng-disabled="!selectedbuilding" ng-options="violation.name for violation in violations" >
                    
                </select>
            </div>            
        </div>
        </br></br>
			
  				<div class="content" ng-show="parkingViolation">  					
  					<form class="form-horizontal">  					
  						<fieldset>    
    						<div class="form-group">      
      							<label class="col-md-2">Parking Lot No:</label>
      							<div class="col-md-6">
					            <input type="text" class="form-control" ng-model="parkingLotNo" placeholder="Enter Parking No">
								</div>							
							</div>
							<div class="form-group">      
      							<label class="col-md-2">Vehicle No:</label>
					            <div class="col-md-6">
					                <input type="text" class="form-control" ng-model="vehicleNo" placeholder="Enter vehicle No">
					            </div>
							</div>
							<div class="form-group">      
      							<label class="col-md-2">Vehicle Model:</label>
					            <div class="col-md-6">
					                <input type="text" class="form-control" ng-model="vehicleModel" placeholder="Enter Vehicle Model">
					            </div>
							</div>
						<div class="form-group">
      							<label class="col-md-2">violation Date:</label>
					            <div class="col-md-6">
					                <input type="date" class="form-control" ng-model="violationDate" placeholder="Enter violation date">
					            </div>
							</div>
							<div class="col-md-10">
                <button type="submit" class="btn btn-info" ng-click="" ng-disabled="!selectedbuilding" ng-disabled="!selectedviolation">
                    Save
                </button>
            </div>	
					</fieldset>
					</form>
					</div>

  				<div class="content" ng-show="otherViolation">  					
  					<form class="form-horizontal">  					
  						<fieldset> 
				<div class="form-group">
      							<label class="col-md-2">violation Description:</label>
					            <div class="col-md-6">
					                <textarea class="form-control" ng-model="discription" placeholder="Enter violation description">
					            </textarea>
					            </div>
							
							<div class="col-md-10">
                <button type="submit" class="btn btn-info" ng-click="" ng-disabled="!selectedbuilding" ng-disabled="!selectedviolation">
                    Save
                </button>
            </div>
					</div>
					</fieldset>
					</form>
					</div>
					</div>
					
			
       <script>
		angular.module('myApp', []).controller('createReportController', function($scope) {
		$scope.buildings = [
        {name:'Building1'},
        {name:'Building2'},
        {name:'Building3'}
    ];
    $scope.violations = [
        {name:'parking'},
        {name:'Incident'},
        {name:'Maintenance'},
        {name:'Service'}
    ];
		$scope.parkingViolation = false;
		$scope.otherViolation = false;
		//if($scope.clients.name == 'clients1')
		$scope.selectionChanged = function() {
			alert(JSON.stringify($scope.selectedviolation.name));
			if($scope.selectedviolation.name == 'parking'){
			$scope.parkingViolation = true;
			$scope.otherViolation = false;
			}
			if($scope.selectedviolation.name != 'parking'){
			$scope.otherViolation = true;
			$scope.parkingViolation = false;
			}
			}

});
</script>
</body>



</html>
        