<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workforce Management System</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/local.css" />

    <script type="text/javascript" src="/stylesheets/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/stylesheets/bootstrap/js/bootstrap.min.js"></script>   
    
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>     
</head>
<body ng-app="" ng-controller="clientController">

    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Back to Admin</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li><a href="./"><i class="fa fa-bullseye"></i> Dashboard</a></li>
                    <li  class="active"><a href="./searchClients"><i class="fa fa-tasks"></i> Clients</a></li>
                    <li><a href="./searchGuards"><i class="fa fa-tasks"></i> Guards</a></li>
                    
                    <li><a href="./searchReports"><i class="fa fa-table"></i> Reports</a></li>
                    <li><a href="./searchAlerts"><i class="fa fa-bell"></i> Alerts</a></li>
                    <li><a href="./displaySchedule? Not sure"><i class="fa fa-list-ol"></i> Schedule</a></li>
                    <li><a href="./searchBuildings"><i class="fa fa-globe"></i> Buildings</a></li>                    
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-user">                    
                    <li><a href="./logout"><i class="fa fa-power-off"></i> Log Out</a></li>                       
                </ul>
            </div>
        </nav>
        
        <div class="modal-body row" id="clientDetails" ng-show="displayMode">  			
  			<div class="row text-center">
  					<h2> Client Details </h2>
			</div>	
  			<div class="col-md-8 container">        	  				
  				<div class="content">  					
  					<form class="form-horizontal">  					
  						<fieldset>    
    						<div class="form-group">      
      							<label for="clientName" class="col-md-3">
					                Client Name:
					            </label>
					            <div class="col-md-6">
					                <p class="form-control-static">{{clientName}}</p>
					            </div>
							</div>
							
							<div class="form-group">      
      							<label for="email" class="col-md-3">
					                Email:
					            </label>
					            <div class="col-md-6">
					                <p class="form-control-static">{{email}}</p>
					            </div>
							</div>
							<div class="form-group">      
      							<label for="ssn" class="col-md-3">
					                SSN number:
					            </label>
					            <div class="col-md-6">
					                <p class="form-control-static">{{ssn}}</p>
					            </div>
							</div>
							
							<div class="form-group">      
      							<label for="cost" class="col-md-3">
					                Cost:
					            </label>
					            <div class="col-md-6">
					                <p class="form-control-static">{{cost}}</p>
					            </div>
							</div>
							
							<div class="form-group">
								   <label for="startDate" class="col-md-3">
					                Start Date:
					            </label>
					            <div class="col-md-6">
					                <p class="form-control-static">{{startDate}}</p>
					            </div>
							</div>
							
							<div class="form-group">
								<label for="endDate" class="col-md-3">
					                End Date:
					            </label>
					            <div class="col-md-6">                
					                <p class="form-control-static">{{endDate}}</p>            	          
					            </div>
							</div>
							
							<div class="form-group">
								<label for="balance" class="col-md-3">
					                Balance to be paid:
					            </label>
					            <div class="col-md-6">                
					                <p class="form-control-static">{{balance}}</p>            	          
					            </div>
							</div>
							
							<div class="form-group">
								<label for="buildingOwned" class="col-md-9">
					                Buildings Owned:
					            </label>
					        </div>
					        <div class="form-group">
					            <div class="col-md-6">
					            	<div ng-repeat="(i, building) in buildings track by $index">
					            	<p class="form-control-static">buildings[i].buildingName</p>
					                </div>
					            </div>     
							</div>
																		
						</fieldset>
					</form>
				</div>
			</div>
			
			<div class="col-md-4">				
				<button type="button" class="btn btn-primary" ng-click="switchToEdit()">
                    Edit Client
                </button>
                <p>
                <p>
                <button type="button" class="btn btn-danger">
                    Delete Client
                </button>
			</div>
      	</div>
    
    
	      <div id="clientEdit" ng-show="editMode"> 			
  			<div class="row text-center">
  					<h2>Edit Client</h2>
			</div>	
  			<div class="col-md-10 container">        	  				
  				<div class="content">  					
  					<form class="form-horizontal">  					
  						<fieldset>    
    						<div class="form-group">      
      							<label for="clientName" class="col-md-3">
					                Client Name:
					            </label>
					            <div class="col-md-6">
					                <input type="text" class="form-control" id="clientName" ng-model="clientName" ng-bind="clientName">
					            </div>
							</div>
							<div class="form-group">      
      							<label for="email" class="col-md-3">
					                Email:
					            </label>
					            <div class="col-md-6">
					                <input type="email" class="form-control" id="email" ng-model="email" ng-bind="email">
					            </div>
							</div>
							<div class="form-group">      
      							<label for="ssn" class="col-md-3">
					                SSN number:
					            </label>
					            <div class="col-md-6">
					                <input type="text" class="form-control" id="ssn" ng-model="ssn" ng-bind="ssn">
					            </div>
							</div>
							
							<div class="form-group">
								<label for="buildingOwned" class="col-md-9">
					                Buildings Owned:
					            </label>
					        </div>
					        <div class="form-group">
					            <div class="col-md-6">
					            	<div ng-repeat="(i, building) in buildings track by $index">
					            	<p class="form-control-static">buildings[i].buildingName</p>
					                </div>
					            </div>     
							</div>
							
							<div class="form-group">
								<label for="startDate" class="col-md-3">
					                Start Date:
					            </label>
					            <div class="col-md-6">                
					                <div id='startDate'>
						                <input type='date' class="form-control" />
					            	</div>           	          
					            </div>
							</div>
							
							<div class="form-group">
								<label for="endDate" class="col-md-3">
					                End Date:
					            </label>
					            <div class="col-md-6">                
					                <div id='endDate'>
						                <input type='date' class="form-control" />
					            	</div>           	          
					            </div>
							</div>	
							
							<div class="form-group">      
      							<label for="cost" class="col-md-3">
					                Cost:
					            </label>
					            <div class="col-md-6">
					                <input type="number" class="form-control" id="cost" ng-model="cost" ng-bind="cost">
					            </div>
							</div>
							
							
							<div class="form-group">      
      							<label for="bill" class="col-md-3">
					                Bill to be paid:
					            </label>
					            <div class="col-md-6">
					                <input type="number" class="form-control" id="bill" ng-model="bill" ng-bind="bill">
					            </div>
							</div>
							
						</fieldset>
					
					<div class="row text-center">
			            
			                <button type="submit" class="btn btn-info">
			                    Save changes
			                </button>
			                <button class="btn btn-warning">
			                    Cancel
			                </button>
			            
			        </div>
				</div>
				
			</div>
			</form>					
      	</div>
  	</div>
      	
  	<script>
		function clientController($scope,$http,$location) { 
			$scope.displayMode = true;
			$scope.editMode = false;
			$scope.switchToEdit = function() {				
				$scope.displayMode = false;
				$scope.editMode = true;				
			}	
		
		}    
	</script>      
</body>



</html>
