<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workforce Management System</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/local.css" />

    <script type="text/javascript" src="/stylesheets/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/stylesheets/bootstrap/js/bootstrap.min.js"></script>   
    
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>     
</head>
<body ng-app="" ng-controller="searchClientsController">

    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Back to Admin</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li><a href="./"><i class="fa fa-bullseye"></i> Dashboard</a></li>
                    <li><a href="./searchClients"><i class="fa fa-tasks"></i> Clients</a></li>
                    <li  class="active"><a href="./searchGuards"><i class="fa fa-tasks"></i> Guards</a></li>
                    <li><a href="./searchReports"><i class="fa fa-table"></i> Reports</a></li>
                    <li><a href="./searchAlerts"><i class="fa fa-bell"></i> Alerts</a></li>
                    <li><a href="./displaySchedule? Not sure"><i class="fa fa-list-ol"></i> Schedule</a></li>
                    <li><a href="./searchBuildings"><i class="fa fa-globe"></i> Buildings</a></li>                    
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-user">                    
                    <li><a href="./logout"><i class="fa fa-power-off"></i> Log Out</a></li>                       
                </ul>
            </div>
        </nav>
        
        
        <div class="col-md-10 container" id="searchBuildings"> 
        	<div class="content">  					
				<form class="form-horizontal">  					
					<fieldset>              	
						<div class="form-group input-group">
			  				<div class="col-md-8">				
			                    <input type="text" class="form-control" ng-model='inputString'>
			                    <span class="input-group-btn">
			                        <button class="btn btn-default" type="button" ng-click='startSearch()'><i class="fa fa-search"></i></button>
			                    </span>
			                </div>
						</div>
						<div class="form-group" ng-show="resultsExist">
							<div class="col-md-8">				
								<label>Select building from the list of search results</label>
								<select class="form-control" ng-model="selectedBuilding" ng-change="selectionChanged()" ng-options="building.buildingName for building in buildings"></select>
							</div>
						</div>
						<div class="form-group" ng-show="resultsNotExist">
							<div class="col-md-8">
								<p class="form-control-static">No matches in buildings for the given search string!</p>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
							 		
  			<div class="col-md-8 container" ng-show="checkpointsExist">        	  				
  				<div class="content">  					
  					<form class="form-horizontal">  					
  						<fieldset>        													
							<div class="form-group">
								<label for="checkpoints" class="col-md-3">
									Check points:
								</label>
								<div class="col-md-7">
									<table st-table="rowCollection" class="table table-striped">
										<thead>
										<tr>
											<th>S No.</th>
											<th>Latitude</th>
											<th>Longitude</th>
											<th class="col-md-4">Guard assigned</th>											
										</tr>
										</thead>
										<tbody>
										<tr ng-repeat="(i, checkpoint) in checkpoints track by $index">
											<td>{{i+1}}</td>
											<td>{{checkpoint.latitude}}</td>
											<td>{{checkpoint.longitude}}</td>
											<td><select class="form-control" ng-model="selectedGuard" ng-options="guard.guardName for guard in guards"></select></td>											
										</tr>
										</tbody>
									</table> 
									<button type="submit" class="btn btn-primary" ng-click="saveChanges()">
					                    Save changes
					                </button> 
								</div>
							</div>	
							<div class="form-group">
								<div class="col-md-4">				
									               
								</div>		
							</div>										
						</fieldset>
					</form>
				</div>
			</div>
			
			
      	</div>        	    
  	</div>
      	
  	<script>
		function searchClientsController($scope,$http,$location) { 			
			
			
    		
    		   		    	
    		
			$scope.startSearch = function() {				
				$scope.buildings = [
		        {buildingId: '1', buildingName: 'Engineering building'},
		        {buildingId: '12', buildingName: 'Clark hall'},
		        {buildingId: '30', buildingName: 'ISSS'}
    			];		
    			alert(JSON.stringify($scope.buildings));
    			if ($scope.buildings != undefined)
    			{
    				$scope.resultsExist = true;   
    				$scope.resultsNotExist = false; 				
    			}	
    			else
    			{
    				$scope.resultsExist = false;
    				$scope.resultsNotExist = true;
    			}
			}	
			
			$scope.selectionChanged =  function() {				
				alert($scope.selectedBuilding);
				$scope.checkpoints = [
		        {checkinId: '1', latitude: '30.23212', longitude: '90.3535'},
		        {checkinId: '12', latitude: '87.28783', longitude: '90.3535'},
		        {checkinId: '30', latitude: '12.73846', longitude: '90.3535'}
    			]; 			
    			
    			if($scope.checkpoints != undefined)
    			{
    				$scope.checkpointsExist = true;
    				$scope.guards = [ {guardId: '1', guardName: 'superman'}, {guardId: '2', guardName: 'spiderman'} ];
    			}
    			else
    			{
    				$scope.checkpointsExist = false;
    			}
			}											
		}    
	</script>      
</body>



</html>
