<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
     <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
 </head>
  <body ng-app="" ng-controller="linkedinController" style="margin-top: -50px;margin-left: -50px;margin-right: -50px;">
  
  <nav class="navbar navbar-default" style="padding-bottom: 3px;box-shadow: 3px 3px 5px #888888; background-color: #F3F3F3;">
   <form class="form-inline" role="form">
 <div class="form-group form-group-lg">
<div class="col-md-6">
   <input type="text" class="form-control" id="email" placeholder="Search for people, jobs, companies and more..." style="margin-left: 100px;margin-right:400px ; margin-top: 20px;" >
</div>
</div>
 <div class="form-group">
<div class="col-md-6">
  <p> <a href="#">
          <span class="glyphicon glyphicon-search"></span>Advanced
   	  </a> </p>  
</div>
</div>
 <div class="form-group">
<div class="col-md-2">
   <a href="#">
          <span class="glyphicon glyphicon-envelope"></span>
         <span class="badge">17</span>
   </a> 
</div>
</div>
 <div class="form-group">
<div class="col-md-2">
   <a href="#">
          <span class="glyphicon glyphicon-flag"></span>
       <span class="badge">17</span>
   </a> 
  </div>
</div>
  <div class="form-group">
<div class="col-md-2">
   <a href="#">
          <span class="glyphicon glyphicon-user"></span>
          <span class="badge">17</span>
   </a>
  
   </div>
</div>
 
</div>
   </form>
   </nav>

  
  
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <img src="/stylesheets/download.gif" style="margin-left: 150px;margin-top: 7px;">
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/successLogin">Home</a></li>
        <li><a href="/createProfile">User Profile</a></li>
        <li><a href="/connect">Connect</a></li>
      </ul>
    </div>
  </div>
</nav>
  
  </body>
</html>